{% load i18n %}{% autoescape off %}
{% blocktrans %}Hola,{% endblocktrans %}

{% blocktrans %}Recibimos una solicitud para restablecer la contraseña de tu cuenta de OASIS.
Por favor, haz clic en el siguiente enlace para completar el proceso:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Si no solicitaste este cambio, puedes ignorar este correo.
Tu contraseña no se cambiará hasta que accedas al enlace y crees una nueva.{% endblocktrans %}

{% blocktrans %}Gracias,
El equipo de OASIS{% endblocktrans %}

{% endautoescape %}